* {
  margin: 0;
}
.alignCenter {
  text-align: center;
}

.continents,
.countries {
  max-width: 1200px;
  margin: auto;
  background-color: burlywood;
}

.continent {
  justify-content: center;
  align-items: center;
  display: flex;
}

.continent span {
  margin-left: 1rem;
}
.continent span:hover {
  color: blue;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

header span {
  margin-right: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.decoNone {
  text-decoration: none;
}

.countries {
  list-style: none;
}

.country,
.continent {
  padding-bottom: 2rem;
}
.bold {
  font-weight: bold;
}

.flexCenter {
  display: flex;
  justify-content: center;
  text-align: center;
}
